/*
The stylesheet file .css to apply styles on the html elements
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:cadetblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.image-gallery img {
    margin: 10px;
    width: 190px;
    height: 170px;
}


    body {
        background-color: cornsilk;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    
    .project-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        max-width: 1200px;
        margin: auto;
        padding: 70px;
        background-color: cornsilk; 
    }
    

    .project-box {
        background-color: white;
        border: 1px solid #ddd;
        padding: 20px;
    }
    
    .project-box h2 {
        font-size: 1.5rem;
        color:palevioletred;
        margin-bottom: 10px;
    }
    
    .project-box p {
        font-size: 1rem;
        color: darkslategray;
        margin-bottom: 10px;
    }
    
    .project-box a {
        color:#237bbd;
        font-weight: bold;
    }
    /*
    .pr {
        max-width: 3000px;
        margin: 10px auto;
        padding : 10px;
        background-color:azure;
    }
    */
    .pr{
        margin: 20px;
        padding: 60px;
        border-radius: 10px;
        background-color:ivory;
    }
