
.navbar {
    background-color:indianred;
    overflow: hidden;
}

.navbar a {
    float:left;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: beige;
    color: burlywood;
}

    .about {
        background-color: #f2f2f2;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        font-family: Arial, sans-serif;
        max-width: 800px;
        margin: 0 auto;
    }

    .about p {
        font-size: 18px;
        line-height: 1.6;
        color: #333;
        margin: 0; /* Remove default margin for paragraphs */
    }

    body {
        background-color: cornsilk;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .contact{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color:bisque;
    }

    .contact p {
        color: darkslategray;
        margin: 10px 0;
        font-size: 20px;
    }
    
    .contact a {
        color:blue;
        font-weight: bold;
        text-decoration: underline;

    }
    
    .project-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: cornsilk; 
    }
    
    /* Project box styles */
    .project-box {
        background-color: white;
        border: 1px solid #ddd;
        padding: 20px;
    }
    
    .project-box h2 {
        font-size: 1.5rem;
        color:palevioletred;
        margin-bottom: 10px;
    }
    
    .project-box p {
        font-size: 1rem;
        color: darkslategray;
        margin-bottom: 10px;
    }
    
    .project-box a {
        color:#237bbd;
        font-weight: bold;
    }
    .pr {
        max-width: 1400px;
        margin: 10px auto;
        padding : 10px;
        background-color:azure;
    }
